
.sidebar
    background-color #242424 !important
    width 17rem !important

a.sidebar-link 
    color #ffffff
    
a.sidebar-link.active, a.sidebar-link:active, a.sidebar-link:hover
    opacity 1
    color #fff
    border-left .25rem solid #008cf4

a.sidebar-link 
    letter-spacing .05em
    color #fff
    opacity .75
    font-family Raleway,sans-serif

.page 
    padding-left 17rem !important
.hero img 
    width 15%

.home .hero .action-button
    display inline-block
    font-size 1.2rem
    color #000000
    background-color #00e2e2 
    padding 0.8rem 1.6rem
    transition background-color 0.2s ease
    border 2px solid #00e2e2 

.home .hero .action-button:hover
    background-color transparent 

a.sidebar-link.active, a.sidebar-link:active, a.sidebar-link:hover
    border-left: 0.25rem solid #00e2e2;

.sidebar-group:not(.collapsable) .sidebar-heading
    color #ffffff !important

.sidebar-heading.open, .sidebar-heading:hover
    color #ffffff !important

.page-nav 
    margin-bottom 24rem !important

.header-anchor
    color  #00e2e2 